<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.thando.qvaya">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartScreen.WelcomeActivity" />
        <activity
            android:name=".StartScreen.startscreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.Login" />
        <activity android:name=".Admin.AdminHome" />
        <activity android:name=".Admin.AdminCreateDriver" />
        <activity android:name=".Admin.AdminDeleteDriver" />
        <activity android:name=".Admin.AdminUpdateDriver" />
        <activity android:name=".Admin.DetailActivity" />
        <activity android:name=".Admin.MainActivity"/>
    </application>

</manifest>